<!-- About me block -->
<fieldset class="about_me_container">
  <legend>
    <h1>Carm1ne</h1>
  </legend>
  <div class="about_me_text">
    <p>Freelance Web-Developer</p>
    <p>"Graduated" CS50, Harvard</p>
    <p>Currently studying At FMFI UK</p>
    <p>searching for full-time job rn</p>
    <p>Available to freelance orders on fiverr</p>
  </div>
</fieldset>
<style>
.about_me_container {
  width: 50%;
  margin-top: 20vh;
}
.about_me_text {
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.about_me_text > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 720px) {
  .about_me_container {
    width: 90%;
  }
  .about_me_text {
    font-size: 5vw;
  }
}
</style>
